- @articles.each do |article|
  .post
    %h3= link_to article.title, article
    %p= article.content
    %ul.meta
      %li= article.parent && article.parent.title
      %li= article.author
      %li= article.created_at
      %li= link_to 'Edit', edit_article_path(article)
      %li= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Article', new_article_path
