- @articles.each do |article|
  %article
    %h1= link_to article.title, article
    %section= article.rendered
    %ul.meta
      /%li= article.parent && article.parent.title
      %li= article.author || "Anonymous"
      %li= link_to 'Leave a comment', article_path(article, :anchor => "reply")
      %li no tags (yet)
      %li Posted #{article.created_at.strftime("on %a, %d %b %Y at %H:%M")}
      /%li= link_to 'Edit', edit_article_path(article)
      /%li= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete

- content_for :recently do
  %ul
    - next_posts = next_posts(@articles.first.created_at).reverse
    - next_posts.each do |article|
      %li.current
        = link_to article do
          %span.date= article.created_at.strftime("%m.%d")
          = article.title
    - @articles.each do |article|
      %li.current
        = link_to article do
          %span.date= article.created_at.strftime("%m.%d")
          = article.title
    -prev_posts = prev_posts(@articles.last.created_at, 8 - next_posts.count)
    -prev_posts.each do |article|
      %li.current
        = link_to article do
          %span.date= article.created_at.strftime("%m.%d")
          = article.title
- content_for :head do
  =stylesheet_link_tag 'index'
