%aside
  %section
    %h1 About this article
    %p You're currently reading "#{@article.title}", an entry on LoonyBin
    -if @article.parent
      %dl
        %dt Parent
        %dd= link_to @article.parent.title, @article.parent
    %dl
      %dt Author
      %dd= @article.author || "anonymous"
    %dl
      %dt Published
      %dd= @article.created_at
      //%li= link_to 'Edit', edit_article_path(@article)
    %p= link_to 'Back', articles_path
%article
  %h1= @article.title
  %section= @article.rendered

-content_for :ancillary do
  %aside=# render 'form', :article => Article.new( :parent => @article, :title => 'Re: ' + @article.title )
  - @article.replies.each do |reply|
    %article
      %h4= reply.title
      %section= reply.rendered
      %ul.meta
        %li= reply.author
        %li= reply.created_at
        %li= link_to 'Show', reply

-content_for :head do
  =stylesheet_link_tag 'show'
