!!!
%html
  %head
    %title LoonyBin

    = javascript_include_tag :defaults

    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'application.css'
    = stylesheet_link_tag 'friendly.css'

    = csrf_meta_tag
    = yield :head
  %body
    %header
      %hgroup#title
        %h1= link_to 'LoonyBin', root_url
        %h2 Technology won't solve every problem; Crazyness might...
      %hgroup#search
        =form_tag 'http://google.com/search', :method => :get do
          =search_field_tag :q, nil, :class => 'text'
          =hidden_field_tag :sitesearch, "http://loonyb.in/"
          =submit_tag :search
    .main
      =yield
    .ancillary
      =yield :ancillary
    %aside
      %section.left
        %h1 About
      %section.center
        %h1 Tags
      %section.right
        %h1 Recently
        =yield :recently
    %footer
      %p All rights reserved &copy; 2010, LoonyBin
